@import url("normalize.css");
@import url("nav.css");
@import url("seccion_info.css");
@import url("seccion_shop.css");
@import url("seccion_carrito.css");
@import url("seccion_formulario.css");
@import url("seccion_footer.css");

* {
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(237, 69, 86);
}
hr {
  width: 90%;
  margin: auto;
  color: rgb(183, 32, 54);
}
section {
  width: 100%;
  height: 100%;
}
